<div
  infinite-scroll
  [infiniteScrollDistance]="distance"
  [infiniteScrollThrottle]="throttle"
  (scrolled)="onScroll()"
>
  <mat-card *ngFor="let cat of cats">
    <mat-card-title>
      <h1>
        <a [href]="cat.cfa_url">{{ cat.name }}</a>
      </h1>
    </mat-card-title>
    <mat-card-subtitle>
      <!-- <h2>{{ cat.city }}, {{ cat.state }}, {{ cat.country }}</h2> -->
    </mat-card-subtitle>
    <mat-card-content>
      <!-- <h3>Type: {{ cat.brewery_type }}</h3> -->
    </mat-card-content>
  </mat-card>
</div>