<div
  infinite-scroll
  [infiniteScrollDistance]="distance"
  [infiniteScrollThrottle]="throttle"
  (scrolled)="onScroll()"
>
  <mat-card *ngFor="let cat of cats">
    <mat-card-header>
      <div>
        <mat-card-title>{{ cat.name }}</mat-card-title>
        <mat-card-subtitle>Temperament: {{ cat.temperament }}</mat-card-subtitle>
      </div>  
    </mat-card-header>
    <mat-card-content>
      <div class="img-container">
        <img *ngIf="cat.image" [src]="cat.image.url" width="100" height="100">
      </div>
      <div>
        <span>{{ cat.description }}</span>
      </div>      
    </mat-card-content>
  </mat-card>
</div>